h1 {
    font-family: Calibri;
    display: block;
    width: 160px;
    background-color: white;
}

.buttondiv {
        float: left;
        font-family: Calibri;
        display:block;  
}

.resetbutton {
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: black;
    color: Black;
    margin-left: 100px;
    text-align: center;
    font-size: 16px;
    width: 100px;
}

.wow {
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: black;
    color: Black;
    margin-left: 200px;
    text-align: center;
    font-size: 16px;
    width: 120px;
    display:block;
    font-family: Calibri;
}

input {
    display: block;
    width: 300px;
    color: red;
    font-family: calibri;
}

label {
    display: block;
    width: 50px;
    background-color: white;
    color: black;
    font-family: calibri, bold;
}

#instructions {
    background-color: white;
    width: 350px;
}

.freakout {

    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: black;
    color: Black;
    width: 320px;

}
